<div class="jumbotron">
    <h1>Team Infinity</h1>
    <p class="lead"></p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>WeSketch Application</h2>
        <p>The WeSketch application allows office users the ability to collaborate on a shared drawing board from the 
        convenience of their own offices within an organization.</p>
        <p><a class="btn btn-default" href="http://downloads.teaminfinityuis.com/WSDownloads/WeSketchInstaller.zip">Download WeSketch &raquo;</a></p>
        <p><a href="http://downloads.teaminfinityuis.com/WSDownloads/WeSketch_User_Manual.docx">WeSketch User Manual</a></p>
    </div>
</div>
