<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WeSketch.Tests.Properties.Settings.WeSketchConnectionString"
      connectionString="Data Source=173.19.248.67;Initial Catalog=WeSketch;Persist Security Info=True;User ID=t8user;Password=28@Beyond"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="url" value="http://www.teaminfinityuis.com/home/" />
    <add key="debugUrl" value="http://localhost:9739/home/"/>
    <add key="SignalrUrl" value="http://www.teaminfinityuis.com/signalr" />
    <add key="SignalrDebugUrl" value="http://localhost:9739/signalr"/>
  </appSettings>
</configuration>